In [1]:
import numpy as np
import pandas as pd

## Load data

In [2]:
raw_df = pd.read_csv("/Users/juhe/annie/analysis/ev_ai_eta_R2630.txt", header=None, names=['evid', 'cluster_time', 'ai', 'eta'])
raw_df.head(5)

      evid  cluster_time   ai       eta
0  p1_1469       733.762   70   903.254
1  p1_1469       733.762   85  1076.210
2  p1_1469       733.762  100   755.452
3  p1_1469       733.762  115   916.071
4  p1_1469       733.762  130  3264.710

## Extract only the evid and cluster_time

In [3]:
out_df = raw_df[['evid', 'cluster_time']]
out_df.head(5)

      evid  cluster_time
0  p1_1469       733.762
1  p1_1469       733.762
2  p1_1469       733.762
3  p1_1469       733.762
4  p1_1469       733.762

### Remove duplicates

In [4]:
out_df = out_df.drop_duplicates()
out_df

         evid  cluster_time
0     p1_1469       733.762
23    p4_3536       833.753
51   p14_3002      1289.710
77    p16_310       735.949
96   p19_3759      1642.380
114  p25_1171       947.689

## Export to file

In [5]:
out_df.to_csv("/Users/juhe/annie/analysis/fitbyeye_R2630_ctime.txt", header=False, index=False)