In [ ]:
import numpy as np
import pandas as pd

## Load data

In [3]:
raw_df = pd.read_csv("/Users/juhe/annie/analysis/ev_ai_eta_240403v1.txt", header=None, names=["ev_id", "cluster_time", "ai", "eta"])
raw_df.head(5)

   ev_id  cluster_time   ai       eta
0  p0_61       11.7818   55  429.9150
1  p0_61       11.7818  100   46.6488
2  p0_61       11.7818  130  462.9450
3  p0_61       11.7818  145   66.7210
4  p0_61       11.7818  175  421.0340

In [23]:
tank_fit_df = pd.read_csv("/Users/juhe/annie/analysis/fitbyeye_wcsim_0-999_merged.txt", header=None, names=["ev_id","tank_fit"])
tank_fit_df.head(5)

     ev_id  tank_fit
0    p0_66     150.0
1    p0_83     210.0
2  p100_11     175.0
3  p102_48     160.0
4  p104_61     280.0

## Keep only ev_id and cluster_time

In [19]:
ev_ctime_df = raw_df[["ev_id", "cluster_time"]]
ev_ctime_df.head(5)

   ev_id  cluster_time
0  p0_61       11.7818
1  p0_61       11.7818
2  p0_61       11.7818
3  p0_61       11.7818
4  p0_61       11.7818

In [20]:
# drop duplicate rows
ev_ctime_df = ev_ctime_df.drop_duplicates()
ev_ctime_df.head(5)

In [28]:
len(ev_ctime_df)    #1344
len(tank_fit_df)    #1740

1740

In [41]:
merged_df = pd.merge(tank_fit_df, ev_ctime_df, on='ev_id', how='left')
merged_df = merged_df.fillna(-99.)
print("len merged_df: " + str(len(merged_df)))
merged_df.head(5)

len merged_df:1740

     ev_id  tank_fit  cluster_time
0    p0_66     150.0       14.6190
1    p0_83     210.0      -99.0000
2  p100_11     175.0       16.9839
3  p102_48     160.0      -99.0000
4  p104_61     280.0       18.6629

## Write to csv file

In [40]:
merged_df.to_csv("/Users/juhe/annie/analysis/fitbyeye_wcsim_0-999_merged_ctime.txt", header=False, index=False)