In [1]:
import pandas as pd
import json

# Prepare data into pandas DataFrame

In [3]:
dataX = pd.read_csv("/Users/juhe/annie/analysis/Muon_vertex/X.txt",sep=',',header=None,names=['id','ai','eta'])   #ai is track segment
dataY = pd.read_csv("/Users/juhe/annie/analysis/Muon_vertex/Y.txt",sep=',',header=None,names=['id','truetracklen'])
# dataX['combine'] = dataX[['X','Y']].values.tolist()

### Preview dataframes

In [4]:
dataX.head(5)

      id   ai      eta
0  p0_66   70  1847.96
1  p0_66  100  1125.22
2  p0_66  115  1636.88
3  p0_66  130  1500.98
4  p0_66  145  2160.90

In [5]:
dataY.head(5)

       id  truetracklen
0   p0_66       147.972
1  p10_36       140.964
2  p11_70       149.619
3  p11_98       107.023
4  p11_99       115.164

# Aggregate data and filter out extremely long and negative tracks

In [8]:
grouped = dataX.groupby('id').agg(list).reset_index()
data = pd.merge(grouped, dataY, on='id')
print("after merge: " + str(len(data)))
criteria = data['truetracklen'] > 1000
data = data[~criteria]
print("after first filter (>1000): " + str(len(data)))
critiera = data['truetracklen'] < 0
data = data[~criteria]
print("after second filter (<0): " + str(len(data)))
print(data.columns)
data.head(10)

after merge: 1208
after first filter (>1000): 1208
after second filter (<0): 1208
Index(['id', 'ai', 'eta', 'truetracklen'], dtype='object')

,id,ai,eta,truetracklen
0,p0_66,"[70, 100, 115, 130, 145, 160, 175, 190, 205, 2...","[1847.96, 1125.22, 1636.88, 1500.98, 2160.9, 1...",147.972
1,p100_11,"[70, 100, 115, 130, 145, 175, 205, 220, 235, 2...","[3902.38, 1059.4, 3823.62, 1585.48, 3049.67, 1...",188.655
2,p102_48,"[70, 100, 115, 130, 145, 160, 175, 190, 205, 2...","[921.235, 1818.78, 1769.22, 1853.33, 2079.88, ...",176.992
3,p104_61,"[70, 100, 115, 130, 145, 160, 175, 190, 205, 2...","[2840.03, 1991.47, 2949.01, 1859.28, 2389.12, ...",303.262
4,p104_97,"[55, 70, 85, 100, 115, 130, 160, 175, 190, 205...","[2915.57, 2026.21, 1047.48, 109.152, 93.3911, ...",125.716
5,p105_27,"[85, 100, 115, 130, 160, 175, 190, 205, 220, 2...","[2115.08, 2067.82, 2211.92, 1224.23, 2039.75, ...",198.096
6,p105_95,"[55, 70, 85, 100, 115, 130, 145, 160, 175, 190...","[224.153, 1407.89, 349.068, 715.264, 914.84, 1...",169.878
7,p107_86,"[70, 100, 115, 130, 145, 160, 175, 190, 205, 2...","[1540.36, 3624.93, 1649.12, 1064.04, 1902.7, 1...",261.106
8,p108_34,"[55, 100, 115, 130, 145, 160, 175, 190, 205, 2...","[182.155, 420.979, 1550.46, 249.058, 284.543, ...",110.681
9,p108_35,"[55, 85, 100, 115, 130, 160, 175, 190, 205, 22...","[360.44, 959.187, 1267.47, 498.475, 612.76, 12...",151.580

# Prepare data into json format

In [10]:
json_data = data.to_json(orient='index')

# Save json data into .json file

In [11]:
file_path = 'data.json'
with open(file_path, 'w') as json_file:
    json_file.write(json_data)

# Save pandas DataFrame as csv file

In [12]:
data.to_csv('data.csv', index=False)

# Save data into h5 file << USE THIS ONE

In [9]:
data.to_hdf("data.h5",key='df')

/usr/local/lib/python3.7/site-packages/pandas/core/generic.py:2620: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->Index(['id', 'ai', 'eta'], dtype='object')]

  encoding=encoding,